In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = "https://raw.githubusercontent.com/IngoNowitzky/LDA_Medium/main/production_line_data.csv"

# Read csv to DataFrame
data = pd.read_csv(url)

# Print first 5 lines
data.head()

,Station_1,Station_2,Station_3,Station_4,Station_5,Station_6,Station_7,Label
0,0.749080,0.919993,114.945602,0.932442,13.727151,2.903895,0.908278,Good
1,1.901429,-1.261952,104.740889,2.048815,9.016888,2.634858,3.778081,Good
2,1.463988,-0.613441,106.317961,-1.294561,14.625247,1.755185,4.307704,Good
3,1.197317,0.653123,109.033556,-2.686570,13.902569,2.466063,3.553937,Good
4,0.312037,-0.071643,110.182667,-2.449227,14.431973,1.825483,3.623181,Good

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Station_1  20000 non-null  float64
 1   Station_2  20000 non-null  float64
 2   Station_3  20000 non-null  float64
 3   Station_4  20000 non-null  float64
 4   Station_5  20000 non-null  float64
 5   Station_6  20000 non-null  float64
 6   Station_7  20000 non-null  float64
 7   Label      20000 non-null  object
dtypes: float64(7), object(1)
memory usage: 1.2+ MB